.container, .cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.cartItem {
    width: 700px;
    height: 250px;
    display: flex;
    justify-content: center;
  
    align-items: center;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    margin: 30px;
    gap: 2rem;
    padding: 1rem;
}
  
.cartItem img {
    width: 200px;
    border-radius: 25px;
    width: 350px;
    height: 175px;
}
  
.cartItem .description {
    width: 100%;
    font-size: 20px;
    text-align: center;
}
  
.countHandler input {
    width: 40px;
    text-align: center;
    font-weight: bolder;
}
  
.checkout button {
    width: 150px;
    height: 50px;
    background-color: var(--color-primary);
    color: white;
    border: none;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
}

input{
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 2px solid var(--color-primary-variant);
    background: transparent;
    resize: none;
    color: var(--color-white);
    margin: 1rem;
}