

.shop__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.shop__item{
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.shop__item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
}

.shop__item-image{
    border-radius: 1.5rem;
    overflow: hidden;
}

.shop__item h3{
    margin: 1.2rem 0 2rem;
    text-align: center;
}

.shop__item h5{
    margin: 1.2rem 0 2rem;
    text-align: center;
}

.shop__item-cta{
    display: flex;
    gap: 1rem;
    margin-bottom: 1 rem;
    justify-content: center;
}

/*===== MEDIA QUERY FOR MEDUIM SCREENS  ========*/

@media only screen and (max-width: 1024px) {
    .shop__container{
    grid-template-columns: repeat(2, 1fr);
    }
    .shop__item h3{
    font-size: 1.8rem;
    }
    .shop__item h5{
    font-size: 1.4rem;
    }
    }


    /*===== MEDIA QUERY FOR SMALL SCREENS  ========*/

@media only screen and (max-width: 780px) {
    .shop__container{
    grid-template-columns: repeat(1, 1fr);
    }
    .shop__item h3{
    font-size: 1.5rem;
    }
    .shop__item h5{
    font-size: 1.2rem;
    }
    }